@import url('https://fonts.googleapis.com/css?family=Lobster');


#poem1 {
    font-family: Lobster, cursive;
    
}

#poem2 {
    font-family: Bad Script, cursive;
    
}

p {
    font-size: 30px;
    margin: 30px 0px 50px 30px;
    
}

h1, h2 {
    text-align: center;
}

